<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles/styleUtil.css" />
<link rel="stylesheet" type="text/css" href="js/amcharts/plugins/export/export.css" />
<script language="javascript" src="js/jquery-3.2.1.min.js"></script>
<script language="javascript" src="js/navigation.js"></script>
<script language="javascript" src="js/draw.js"></script>
<script language="javascript" src="js/canvas2svg.js"></script>
<script language="javascript" src="js/scanUtil.js"></script>
<script language="javascript" src="js/system.js"></script>
<script language="javascript" src="js/amcharts/amcharts.js"></script>
<script language="javascript" src="js/amcharts/pie.js"></script>
<script language="javascript" src="js/amcharts/plugins/export/export.min.js"></script>
<title>iPot Scan Utility</title>
</head>
<body>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'scan')" id="defaultOpen">Scan</button>
  <button class="tablinks" onclick="openTab(event, 'sensorArray')">Sensor array</button>
  <button class="tablinks" onclick="openTab(event, 'matrixArray')">Matrix array</button>
  <button class="tablinks" onclick="openTab(event, 'processing')">Processing</button>
  <button class="tablinks" onclick="openTab(event, 'configuration')">Configuration</button>
</div>
<div id="scan" class="tabcontent">
  <div id="laserLinesDiv">
    <label for="laserLinesChkBox">Laser guides</label>
    <input type="checkbox" id="laserLinesChkBox" checked="checked"/>
  </div>
  <div id="previewDiv">
    <label for="previewChkBox">Live preview</label>
    <input type="checkbox" id="previewChkBox" checked="checked"/>
        <div id="previewCanvasDiv">
    <div id="colorPickersDiv">
      <label for="nodeColor" id="nodeColorLbl">Color of data points</label>
      <input type="color" id="nodeColor" />
    </div id="previewCanvasDiv">
      <canvas id="previewCanvasPeripherals" width="150" height="150" style="position:absolute; border: 1px  solid black;"></canvas>
      <canvas id="previewCanvasData" width="150" height="150" style="position:relative; left: 0; top: 0; border: 1px  solid black;"></canvas>
    </div>
    <input type="number" id="distance" />
    <select id="selectSensor" name="selectSensor" >
        <option id="01">Sensor 1</option>
        <option id="02">Sensor 2</option>
        <option id="03" selected="selected">Sensor 3</option>
    </select>
    <button id="connectDots">Connect</button>
  </div>
  <div id="scanSettings">
    <label for="scanSpeed" id="scanSpeedLbl">Platform rotation speed (in rpm)</label>
    <input type="number" id="scanSpeed" value="30"/>
        <label for="scanSpeed" id="scanSpeedLbl">Number of rotations</label>
    <input type="number" id="scanSpeed" value="1"/>
    <label for="scanThreshold" id="scanSpeedLbl">Sensor threshold (in ms)</label>
    <input type="number" id="scanThreshold" value="10"/>
  </div>
  <div id="scanBtns">
    <button id="scanBtn">Scan</button>
    <button id="saveBtn">Save</button>
  </div>
</div>
<div id="sensorArray" class="tabcontent">
  <p>
    <label for="useSensor1">Sensor 1</label>
    <input type="checkbox" id="useSensor1" checked="checked"/>
	<label for="useSensor2">Sensor 2</label>
    <input type="checkbox" id="useSensor2" checked="checked"/>
    <label for="useSensor3">Sensor 3</label>
    <input type="checkbox" id="useSensor3" checked="checked"/>
  </p>
  <p>
    <label for="sensorTracking" id="sensorTrackingLbl">Enable sensor tracking</label>
    <input type="checkbox" id="sensorTracking" checked="checked"/>
  </p>
  <div id="sensorOutput">
    <div id="sensor1Output">
      <label id="sensor1OutputLbl">Sensor 1</label>
      <button id="sensor1LogBtn">Log</button>
      <label id="sensor1OutputDat"></label>
      <label id="sensor1OutputRot"></label>
      <label id="sensor1OutputTim"></label>
    </div>
    <div id="sensor2Output">
      <label id="sensor2OutputLbl">Sensor 2</label>
      <label id="sensor2OutputDat"></label>
      <label id="sensor2OutputRot"></label>
      <label id="sensor2OutputTim"></label>
    </div>
    <div id="sensor3Output">
      <label id="sensor3OutputLbl">Sensor 3</label>
      <label id="sensor3OutputDat"></label>
      <label id="sensor3OutputRot"></label>
      <label id="sensor3OutputTim"></label>
    </div>
    <label for="logData" id="logDataLbl">Log sensor data to file?</label>
    <input type="checkbox" id="logData" />
  </div>
</div>
<div id="matrixArray" class="tabcontent">
  <p>
    <label for="matrixSens" id="matrixSensLbl">Matrix array sensitivy (1-10)</label>
    <input type="number" id="matrixSens" value="10"/>
  </p>
  <p>
    <label for="calcDiam" id="calcDiamLbl">Calculate diameter?</label>
    <input type="checkbox" id="calcDiam" checked="checked"/>
  </p>
</div>
<div id="processing" class="tabcontent">
  <label for="layout">Layout</label>
  <input type="checkbox" id="layout" checked="checked"/>
  <select id="layoutType">
    <option id="A4" selected="selected">A4</option>
    <option id="A3">A3</option>
    <option id="LS">Letter size</option>
  </select>
  <label for="autoFit" id="autoFitLbl">Autofit</label>
  <input type="checkbox" id="autoFit" checked="checked"/>
  <p>
    <label for="downloadLayout" id="downloadLayoutLbl">Download page instead of individual drawings</label>
    <input type="checkbox" id="downloadLayout" checked="checked"/>
  </p>
  <p>
    <label for="DPI" id="DPILbl">DPI</label>
    <input type="number" id="DPI" value="600" />
  </p>
  <select id="fileType">
    <option id="PDF" selected="selected">PDF</option>
    <option id="JPG">JPG</option>
    <option id="TIF">TIF</option>
  </select>
  <p>
    <button id="downloadBtn">Download</button>
  </p>
</div>
<div id="configuration" class="tabcontent">
<div id="registrationDiv">
<label for="project">Project name: </label>
<input type="text" id="project" />
<label for="objectNumber">Object number: </label>
<input type="text" id="objectNumber" />
</div>

  <div id="systemTime">
  <label for="timeStamp">Registered time: </label>
<label id="timeStamp"></label>
    <label id="systemTimeLbl"></label>
  </div>
  <label for="cpuBattLife" id="cpuBattLifeLbl">CPU battery life:</label>
  <label id="cpuBattLife"/>
  100%
  </label>
  </p>
  <p>
    <label for="senBattLife" id="senBattLifeLbl">Peripherals battery life:</label>
    <label id="senBattLife"/>
    100%
    </label>
  </p>
  <div id="diskStatus">
  <div id="diskStatusChart"></div>
  <div id="diskSpaceDiv"><label for="diskSpace" id="diskSpaceLbl">Total disk space:</label>
    <label id="diskSpace"/>
</div>
  <div id="usedSpaceDiv"><label for="usedSpace" id="usedSpaceLbl">Used disk space:</label>
    <label id="usedSpace"/>
</div>
  <div id="freeSpaceDiv">
    <label for="freeSpace" id="freeSpaceLbl">Available space:</label>
    <label id="freeSpace"/></div>
    </div>
  <button id="reset">Load default settings</button>
</div>
</body>
</html>